[Unit]
Description=Nebula Overlay Network
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/opt/nebula/bin/nebula -config /opt/nebula/etc/nebula.yml
Restart=always
RestartSec=5
User=nobody
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
